<h3>Lista de personas</h3>
<ul *ngIf="lista.length > 0; else noHayContendio" class="list-group">
  <li *ngFor="let persona of lista" class="list-group-item">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div>{{ persona.nombre }} {{ persona.apellido }}</div>
      <div>
        <button class="btn btn-danger" (click)="deletePersona(persona.id)">
          X
        </button>
      </div>
    </div>
  </li>
</ul>

<ng-template #noHayContendio>
  <p>Todas las personas fueron borradas.</p>
</ng-template>
